MYSQL_ROOT_PASSWORD=replace_me
MYSQL_DATABASE=book_review_db
MYSQL_USER=replace_me
MYSQL_PASSWORD=replace_me

JWT_SECRET=replace_me
ALLOWED_ORIGINS=http://<VM_PUBLIC_IP>:3000
NEXT_PUBLIC_API_URL=http://<VM_PUBLIC_IP>:3001
